@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

$colorTheme: #F5EFE1;


.iAmSquare{

    width: 9rem; 
    height: 9rem; 
    border: 5px solid rgb(0, 0, 0);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 5rem;

}

body{
  
    background-color: rgb(90, 84, 84);
    background-image: url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     overflow-y:hidden;
}




.table{

    display: grid;
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(3, 9rem);
    height: 100vh;
    gap: 1rem;
    margin-top: 4rem;
    place-items: center center ;
    justify-content: center;



}



.tictac{

display: flex;
justify-content: center;

}


.turn{

display: flex;
justify-content: center;
    font-size: 4rem;
    
}




h1 {
    

    font-size: 6em;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px hsl(194, 50%, 29%),
                 2px 2px hsl(194, 50%, 29%),
                 3px 3px hsl(194, 50%, 29%),
                 4px 4px hsl(194, 50%, 29%),
                 5px 5px hsl(194, 50%, 29%),
                 6px 6px hsl(194, 50%, 29%),
                 7px 7px hsl(194, 50%, 29%),
                 8px 8px hsl(194, 50%, 29%),
                 9px 9px hsl(194, 50%, 29%),
                 10px 10px hsl(194, 50%, 29%),
                 10px 10px 30px rgba(0,0,0,.7),
  }



 
  
  .btn {
    font-size: 2em;
    color:black;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px hsl(194, 50%, 29%),
                 2px 2px hsl(194, 50%, 29%),
                 3px 3px hsl(194, 50%, 29%);


    text-decoration: none;
    border: 1px solid hsl(194, 50%, 29%);
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem 3rem;

    text-transform: uppercase;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px hsl(194, 50%, 29%);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }
  .hidden{
    display: none;
  }
  

  .container
  {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      align-content: center;
  }